.ant-layout {
    background: #f0f2f5;
  }
  
  .ant-layout-header {
    height: 64px;
    line-height: 64px;
    background: #fff;
  }
  
  .ant-layout-sider {
    background: #fff;
    border-left: 1px solid #f0f0f0;
  }
  
  .ant-card {
    height: 100%;
  }